@import "~style/variables";

.container {

    .toolbar{
        padding: 30px 0;
        display: flex;
        h1{
            font-size: 36px;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: $secondary-light;
            margin: 0 30px 0;
        }
    }

    .tableContainer{
        background-color: $table-background;
    }
}