@import '~style/variables';
@import '~style/mixins';

.brandContainer {
  position: absolute;
  width: 280px;
  display: flex;
}

.sideMenuSpace {
  transition: margin-left 0.5s;
  width: 280px;
  @include breakpoint(mobile) {
    display: none;
  }
}

.sideMenu {
  position: fixed;
  transition: margin-left 0.5s;
  width: 280px;
  height: 100vh;
  background: $secondary-light;
  background: -moz-linear-gradient(180deg, $secondary-light 0%, $secondary-dark 100%);
  background: -webkit-linear-gradient(180deg, $secondary-light 0%, $secondary-dark 100%);
  background: linear-gradient(180deg, $secondary-light 0%, $secondary-dark 100%);
  margin-top: 70px;
  color: #ddd;
  & > .menuLabel {
    padding: 30px 30px 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
    font-weight: bold;
  }
  & > .menuList {
    padding: 0 15px 0 0;
    & > a {
      border-left: 5px solid transparent;
      display: block;
      padding: .75em 40px;
      color: #ddd;
      text-decoration: none;
      letter-spacing: 3px;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover,
      &.active {
        color: $primary;
        border-left: 5px solid $primary;
      }
    }
  }
}
