@import '~style/variables';
@import '~style/mixins';

.brandContainer {
  position: absolute;
  width: 280px;
  display: flex;
}

.sideMenuSpace {
  display: none;
  transition: margin-left 0.5s;
  width: 280px;
  @include screen(md) {
    display: block;
  }
}

.sideMenu {
  width: 100vw;
  height: calc(100vh - 70px);
  position: fixed;
  transition: margin-left 0.5s;
  background: $secondary-light;
  background: -moz-linear-gradient(180deg, $secondary-light 0%, $secondary-dark 100%);
  background: -webkit-linear-gradient(180deg, $secondary-light 0%, $secondary-dark 100%);
  background: linear-gradient(180deg, $secondary-light 0%, $secondary-dark 100%);
  margin-top: 70px;
  color: #ddd;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include screen(md) {
    width: 280px;
  }

  .account{
    display: block;
    padding: 30px;
    
    span{
      margin-right: 10px;
    }

    @include screen(md) {
      display: none;
    }
  }
  
  .menuLabel {
    padding: 30px 15px 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
    font-weight: bold;

    @include screen(md) {
      padding: 30px 30px 0;
    }
  }
  .menuList {
    padding: 0 15px 0 0;
    & > a {
      border-left: 5px solid transparent;
      display: block;
      padding: .75em 25px;
      color: #ddd;
      text-decoration: none;
      letter-spacing: 3px;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;

      @include screen(md) {
        padding: .75em 40px;
      }

      &:hover,
      &.active {
        color: $primary;
        border-left: 5px solid $primary;
      }
    }
  }
}
