@import "~style/variables";

.toolbar{
  padding: 0 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  .spacer {
    margin-left: auto;
    width: 1px;
  }
}

.entityHeader {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $secondary-light;
  margin: 0 30px 0 0;
}

.tableContainer{
  background-color: $table-background;
}
