@import '~style/variables.scss';
@import '~style/mixins.scss';

.button {
  padding: 0.5em 1em;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  @include color-variants;
  &:hover {
    border-color: #b5b5b5;
  }
}