@import '~style/variables';


.item {
  font-weight: bold;
  border: 2px solid transparent;
  font-size: 14px;
  &.active {
    border-color: $secondary-light;
    border-radius: 3px;
  }
  
  &.clickable {
    margin-right: 15px;
    padding: 0 5px;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
}