@import '~style/variables';

.pagination {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  .pages {
    display: flex;
    .item {
      padding: 0 5px;
      cursor: pointer;
      &.active {
        color: $primary;
      }
      &:hover {
        background-color: $secondary-light;
      }
    }
  }
  .itemsByPage {
    display: flex;
    align-items: flex-end;
  }
}
