@import "~style/variables";
@import '~style/mixins';

.topMenu {
  display: none;
  position: fixed;
  left: 280px;
  width: calc(100% - 310px);
  border-bottom: $default-border;
  height: 70px;
  @include horizontal-gradient;
  justify-content: flex-end;
  align-items: center;
  color: $text-light;
  padding-right: 30px;

  @include screen(md) {
    display: flex;
  }

  .account{
    display: flex;
    align-items: center;
    cursor: pointer;

    span{
      margin-right: 15px;
    }
  }

  .accountOptions{
    position: absolute;
    bottom: -45px;
    background: $background;
    padding: 20px 30px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    color: $text-dark;

    span{
      margin-right: 15px;
    }
  }
}