@import '~style/variables';
@import '~style/grid';

.editTable {
  .titlePage {
    padding: 0 0 30px;
    h1 {
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: $secondary-light;
      margin: 0;
    }
  }

  .editTableContainer {
    background-color: $table-background;
    padding: 25px;

    .columns {
      padding: 15px 0;
    }
  }
}
