@import '~style/variables';
.filters {
  background-color: #fff;
  padding: 30px 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;

  .filtersContainer{
    display: flex;
    align-items: center;

    .filter{
      margin-right: 40px;
      span{
        display: block;
      }
    }
  }
}