@import "~style/variables.scss";

.input {
  width: 100%;
  background-color: transparent;
  border: 1px solid $neutral-light;
  outline: none;
  border-radius: 3px;
  padding: 7.5px;
  font-size: 18px;
  &.readOnly {
    background: #f8f8f8;
    color: $secondary-light;
  }
}