@import './variables.scss';

@mixin color-variants {
  &.primary {
    background-color: $primary;
    color: $table-background;
    &:hover {
      border: 2px solid $primary;
      color: $primary;
    }
  }
  &.secondary {
    background-color: $neutral-dark;
    color: $table-background;
    &:hover{
      color: $neutral-dark;
      background-color: $table-background;
      border: 2px solid $neutral-dark;
    }
  }
  &.danger {
    background-color: $danger;
    color: $background;
  }
  &.warning {
    background-color: $warning;
    color: $secondary-dark;
  }
  &.info {
    background-color: $info;
  }
  &.success {
    background-color: $success;
    color: $background;
  }
  &.delete {
    color: $neutral-dark;
    &:hover{
      color: $primary;
    }
  }
  &.cancel {
    border: 2px solid $neutral-dark;
    background-color: $table-background;
    color: $neutral-dark;
  }
  &.edit{
    color: $secondary-dark;
    &:hover{
      color: $primary;
    }
  }
  &.primary{
    background-color: $primary;
  }
}

@mixin visible {
  display: none;
  &.visible {
    display: block;
  }
}

// Responsive breakpoints
$breakpoints: (
  xs: 340px,
  sm: 768px,
  md: 992px,
  lg: 1024px,
  xl: 1200px,
) !default;

$size-xs      : map-get($breakpoints, 'xs');
$size-sm      : map-get($breakpoints, 'sm');
$size-md      : map-get($breakpoints, 'md');
$size-lg      : map-get($breakpoints, 'lg');
$size-xl      : map-get($breakpoints, 'xl');

@mixin screen($size, $type: min, $pixels: map-get($breakpoints, 'sm')) {
  @if $size != 'custom' {
    @media screen and ($type + -width: map-get($breakpoints,$size)) {
      @content;
    }
  } @else {
    @media screen and ($type + -width: $pixels) {
      @content;
    }
  }
}

@mixin vertical-gradient(){
  background: $secondary-light;
  background: -moz-linear-gradient(180deg, $secondary-light 0%, $secondary-dark 100%);
  background: -webkit-linear-gradient(180deg, $secondary-light 0%, $secondary-dark 100%);
  background: linear-gradient(180deg, $secondary-light 0%, $secondary-dark 100%);
}

@mixin horizontal-gradient(){
  background: $secondary-light;
  background: -moz-linear-gradient(90deg, $secondary-light 0%, $secondary-dark 100%);
  background: -webkit-linear-gradient(90deg, $secondary-light 0%, $secondary-dark 100%);
  background: linear-gradient(90deg, $secondary-light 0%, $secondary-dark 100%);
}
