
$primary: #DCA50B;

$secondary-dark: #232526;
$secondary-light: #4d5053;

$neutral-dark: #818181;
$neutral-light: #b9b9b9;

$background: #F5F5F5;
$table-background: #ffffff;

$danger: #a72b40;
$warning: #F59B00;

$success: #07AF85;
$info: #1A8CE7;

$text-light: #EBEBEB;
$text-dark: $secondary-dark;

$border-color: $text-light;
$default-border: 1px solid $border-color;

$border-radius: 2px;

$footer-height: 75px;
$navbar-height: 4rem;
$sidebar-width: 250px;

$default-radius: 8px;
$padding: 1.5rem;
$padding-small: 1rem;
