$danger: #bf0b0b;
$success: #07af85;
$info: #1a8ce7;
$warning: #ffdd57;

$border-color: #ddd;
$default-border: 1px solid $border-color;

$border-radius: 2px;

$footer-height: 75px;
$navbar-height: 4rem;
$sidebar-width: 250px;

$default-radius: 8px;
$padding: 1.5rem;
$padding-small: 1rem;
