@import '~style/variables';
@import '~style/mixins';

.brandContainer {
  position: absolute;
  width: 280px;
  display: flex;
}

.sideMenuSpace {
  display: none;
  transition: margin-left 0.5s;
  width: 280px;
  @include screen(md) {
    display: block;
  }
}

.sideMenu {
  width: 100%;
  height: calc(100vh - 70px);
  position: fixed;
  transition: margin-left 0.5s;
  @include vertical-gradient;
  margin-top: 70px;
  color: $text-light;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;

  @include screen(md) {
    width: 280px;
  }

  .container{
    height: 100%;

    .load{
      margin-left: 30px;
      border: none;
      background: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: white;
      border-bottom: 1px solid white;
      padding: 0;
      cursor: pointer;

      @include screen(md) {
        margin-left: 45px;
      }

      &:hover{
        color: $primary;
        border-color: $primary;
      }

      &:focus{
        outline: none;
      }
    }
  }

  .account{
    display: block;
    padding: 0px 30px 30px;
    
    span{
      margin-right: 10px;
    }

    @include screen(md) {
      display: none;
    }
  }
  
  .menuLabel {
    padding: 30px 15px 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
    font-weight: bold;

    @include screen(md) {
      padding: 30px 30px 0;
    }
  }

  .search{
    margin: 15px 30px 0;
    color: $background;
    border-bottom: 1px solid $background;
    display: inline-block;

    @include screen(md) {
      margin-left: 45px;
    }
    
    input{
      color: $background;
      background: none;
      border: none;
      font-size: 12px;

      &:focus{
        outline: none;
      }
    }

    ::placeholder{
      color: $background;
    }
  }

  .menuList {
    padding: 0 15px 0 0;
    overflow-y: auto;
    max-height: calc(100% - 170px);
    & > a {
      border-left: 5px solid transparent;
      display: block;
      padding: .75em 25px;
      color: $text-light;
      text-decoration: none;
      letter-spacing: 3px;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;

      @include screen(md) {
        padding: .75em 40px;
      }

      &:hover,
      &.active {
        color: $primary;
        border-left: 5px solid $primary;
      }
    }

    .loading{
      margin-left: 30px;

      @include screen(md) {
        margin-left: 45px;
      }
      
    }
  }
}
