@import "~style/variables";
.table {
  width: 100%;
  border-spacing: 0;
  tr:last-child{
    td{
      border-bottom: none;
    }
  }
  th {
    color: $secondary-light;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 30px 0;
    border-bottom: 2px solid $neutral-light;
    text-align: left;

    &:first-child{
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
      width: 1px;
    }

    &:last-child{
      width: 120px;
    }
  }
  td {
    padding: 15px 0;
    border-bottom: 2px solid $border-color;
    font-size: 14px;
    color: $text-dark;

    &:first-child{
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
    }
    &.actions {
      display: flex;
      flex-grow: 0;
      justify-content: flex-end;
      align-items: center;
      & > button {
        margin-right: 15px;
      }
    }
  }
}
