@import '~style/variables';
@import '~style/mixins';

.hamburgerCheckbox {
  display: none;
  &:checked ~ aside {
    margin-left: -100%;

    @include breakpoint(desktop) {
      margin-left: -280px;
    }
  }
}
.hamburgerButton {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  font-size: 30px;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 30px;
  color: white;
  cursor: pointer;
}
